@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(160deg, gold, transparent);
}
.home {
    margin: 0 auto;
    /* Image source: https://www.indiamart.com/proddetail/government-employee-database-2851319949248.html */
    background-image: url("https://5.imimg.com/data5/SELLER/Default/2023/5/312516658/KL/FO/MN/93426120/govt-employee-database-2--500x500.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.home-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.card {
    background-image: url("login-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 35vw;
    min-width: 355px;
    height: 38vh;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px 6px grey;
    font-family: 'Quicksand', sans-serif;
   
}

.card > div{
    width: 40%;
}
.card > div:last-child {
    width: 45%;
}
input {
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

input[type="checkbox"] {
    width:15px;
    height: 13px;
   
}
label[for="showPassword"] {
   font-size: 12px;

}

p {
    color: rgb(29, 29, 245);
    font-size: 9px;

}

.btn {
    height: 35px;
    font-size: 1em;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 1s;
    box-shadow: 0 6px #999;
    width: 100%;
   
}


.btn:hover {
    cursor: pointer;
    background-color: rgb(201, 100, 201);
}

.btn:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
    background-color: rgb(201, 100, 201);
    opacity: 0.8;   
}


